In [2]:
import pandas as pd

In [4]:
df = {}
import os 
for i in range(6): 
    tmp = pd.read_csv(os.path.join('./mainresult/', str("PatchTST"), str("ETTh2") + str(i) + "df.csv"))
    df[i] = tmp

In [31]:
df[0]
# get mean mse and mae for re=0 in df[0]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.337764  0.275489
1           1   96.0  1.0  0.336572  0.278096
2           2  192.0  0.0  0.375938  0.338890
3           3  192.0  1.0  0.378402  0.344013
4           4  336.0  0.0  0.401305  0.363590
5           5  336.0  1.0  0.402522  0.369222
6           6  720.0  0.0  0.430236  0.392304
7           7  720.0  1.0  0.431546  0.400551

In [11]:
df[1]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.368710  0.296343
1           1   96.0  1.0  0.363884  0.295570
2           2  192.0  0.0  0.400598  0.352684
3           3  192.0  1.0  0.398636  0.356526
4           4  336.0  0.0  0.424055  0.380256
5           5  336.0  1.0  0.419440  0.380042
6           6  720.0  0.0  0.452901  0.410773
7           7  720.0  1.0  0.445499  0.409963

In [12]:
df[2]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.359301  0.294441
1           1   96.0  1.0  0.345990  0.285478
2           2  192.0  0.0  0.401301  0.361890
3           3  192.0  1.0  0.385209  0.349341
4           4  336.0  0.0  0.426658  0.387816
5           5  336.0  1.0  0.413729  0.378625
6           6  720.0  0.0  0.456459  0.419078
7           7  720.0  1.0  0.442175  0.408070

In [13]:
df[3]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.338554  0.278357
1           1   96.0  1.0  0.337377  0.279976
2           2  192.0  0.0  0.375750  0.342305
3           3  192.0  1.0  0.379604  0.346737
4           4  336.0  0.0  0.398332  0.362444
5           5  336.0  1.0  0.402321  0.371596
6           6  720.0  0.0  0.425370  0.387674
7           7  720.0  1.0  0.430516  0.400416

In [14]:
df[4]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.391595  0.320450
1           1   96.0  1.0  0.392424  0.325090
2           2  192.0  0.0  0.415317  0.371833
3           3  192.0  1.0  0.420095  0.380799
4           4  336.0  0.0  0.466888  0.420738
5           5  336.0  1.0  0.465851  0.425583
6           6  720.0  0.0  0.506452  0.469990
7           7  720.0  1.0  0.517813  0.491922

In [15]:
df[5]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.384850  0.332513
1           1   96.0  1.0  0.381779  0.329436
2           2  192.0  0.0  0.414425  0.384225
3           3  192.0  1.0  0.413021  0.386448
4           4  336.0  0.0  0.428503  0.398600
5           5  336.0  1.0  0.442491  0.420673
6           6  720.0  0.0  0.458090  0.425683
7           7  720.0  1.0  0.472070  0.450833

In [30]:
for i in range(6): 
    print(df[i][df[i]["re"]==0].mean()[-2:],"\n", df[i][df[i]["re"]==1].mean()[-2:])

mae    0.386311
mse    0.342568
dtype: float64
 mae    0.387261
mse    0.347970
dtype: float64
mae    0.411566
mse    0.360014
dtype: float64
 mae    0.406865
mse    0.360525
dtype: float64
mae    0.410930
mse    0.365806
dtype: float64
 mae    0.396776
mse    0.355379
dtype: float64
mae    0.384502
mse    0.342695
dtype: float64
 mae    0.387454
mse    0.349681
dtype: float64
mae    0.445063
mse    0.395753
dtype: float64
 mae    0.449046
mse    0.405849
dtype: float64
mae    0.421467
mse    0.385255
dtype: float64
 mae    0.427340
mse    0.396848
dtype: float64