In [5]:
import pandas as pd

In [6]:
df = {}
import os 
for i in range(8):  
    # model = "ETTh2"
    model = "ETTm1"
    tmp = pd.read_csv(os.path.join('./mainresult/', str("PatchTST"), model + str(i) + "df.csv"))
    df[i] = tmp

In [9]:
df[0]
# get mean mse and mae for re=0 in df[0]

   Unnamed: 0    len   re       mse       mae
0           0   96.0  0.0  0.292315  0.344064
1           1   96.0  1.0  0.291201  0.337660
2           2  192.0  0.0  0.337055  0.373897
3           3  192.0  1.0  0.333910  0.363641
4           4  336.0  0.0  0.370487  0.394478
5           5  336.0  1.0  0.370683  0.388010
6           6  720.0  0.0  0.414991  0.422617
7           7  720.0  1.0  0.423739  0.419121

In [10]:
for i in range(8): 
    dot = "" 
    if i == 1 or i == 2  or i == 4 or i == 7: 
        dot = '*'
    print(str(i) + dot + "\n", df[i][df[i]["re"]==0].mean()[-2:],"\n", df[i][df[i]["re"]==1].mean()[-2:])

0
 mse    0.353712
mae    0.383764
dtype: float64
 mse    0.354883
mae    0.377108
dtype: float64
1*
 mse    0.363860
mae    0.396241
dtype: float64
 mse    0.368423
mae    0.394004
dtype: float64
2*
 mse    0.534444
mae    0.477817
dtype: float64
 mse    0.420754
mae    0.424641
dtype: float64
3
 mse    0.358011
mae    0.391166
dtype: float64
 mse    0.362718
mae    0.387005
dtype: float64
4*
 mse    0.486419
mae    0.483099
dtype: float64
 mse    0.432410
mae    0.446138
dtype: float64
5
 mse    0.401751
mae    0.428143
dtype: float64
 mse    0.395647
mae    0.415301
dtype: float64
6
 mse    0.356635
mae    0.387973
dtype: float64
 mse    0.358768
mae    0.382501
dtype: float64
7*
 mse    0.364370
mae    0.395337
dtype: float64
 mse    0.361371
mae    0.388130
dtype: float64