In [2]:
import pandas as pd

In [3]:
df = {}
import os 
for i in range(8):  
    # model = "ETTh2"
    model = "ETTm1"
    # model = "exchange_rate"
    # model = "weather"
    tmp = pd.read_csv(os.path.join('./mainresult/', str("PatchTST"), model + str(i) + "df.csv"))
    df[i] = tmp

In [8]:
df[7]
# get mean mse and mae for re=0 in df[0]

   Unnamed: 0    len   re       mse       mae
0           0   96.0  0.0  0.306364  0.362063
1           1   96.0  1.0  0.304745  0.357949
2           2  192.0  0.0  0.345471  0.384323
3           3  192.0  1.0  0.343330  0.376751
4           4  336.0  0.0  0.377882  0.402008
5           5  336.0  1.0  0.373807  0.395046
6           6  720.0  0.0  0.427765  0.432952
7           7  720.0  1.0  0.423601  0.422774

In [15]:
for i in range(8): 
    dot = "" 
    if i == 1 or i == 2  or i == 4 or i == 7: 
        dot = '*'
    print(str(i) + dot + "\n", df[i][df[i]["re"]==0].mean()[-2:],"\n", df[i][df[i]["re"]==1].mean()[-2:])

0
 mse    0.230028
mae    0.263841
dtype: float64
 mse    0.229946
mae    0.260105
dtype: float64
1*
 mse    0.252900
mae    0.296442
dtype: float64
 mse    0.250634
mae    0.295607
dtype: float64
2*
 mse    0.261418
mae    0.292133
dtype: float64
 mse    0.248781
mae    0.281834
dtype: float64
3
 mse    0.240763
mae    0.281746
dtype: float64
 mse    0.235063
mae    0.272765
dtype: float64
4*
 mse    0.274683
mae    0.321516
dtype: float64
 mse    0.261394
mae    0.304346
dtype: float64
5
 mse    0.239561
mae    0.284515
dtype: float64
 mse    0.241238
mae    0.282777
dtype: float64
6
 mse    0.240184
mae    0.280449
dtype: float64
 mse    0.238482
mae    0.275187
dtype: float64
7*
 mse    0.235336
mae    0.280414
dtype: float64
 mse    0.233510
mae    0.273177
dtype: float64