In [16]:
import pandas as pd

In [20]:
df = {}
import os 
for i in range(8):  
    # model = "ETTh2"
    model = "exchange_rate"
    tmp = pd.read_csv(os.path.join('./mainresult/', str("PatchTST"), model + str(i) + "df.csv"))
    df[i] = tmp

In [21]:
df[7]
# get mean mse and mae for re=0 in df[0]

   Unnamed: 0    len   re       mse       mae
0           0   96.0  0.0  0.283967  0.369459
1           1   96.0  1.0  0.259726  0.316184
2           2  192.0  0.0  0.417251  0.463790
3           3  192.0  1.0  0.329410  0.393334
4           4  336.0  0.0  0.531492  0.541498
5           5  336.0  1.0  0.439211  0.483526
6           6  720.0  0.0  1.139305  0.825624
7           7  720.0  1.0  1.444770  0.909232

In [25]:
for i in range(8): 
    dot = "" 
    if i == 1 or i == 2  or i == 4 or i == 7: 
        dot = '*'
    print(str(i) + dot + "\n", df[i][df[i]["re"]==0].mean()[-2:],"\n", df[i][df[i]["re"]==1].mean()[-2:])

0
 mse    0.405049
mae    0.429811
dtype: float64
 mse    0.375571
mae    0.412099
dtype: float64
1*
 mse    0.478131
mae    0.499097
dtype: float64
 mse    0.533753
mae    0.523733
dtype: float64
2*
 mse    1.216990
mae    0.764961
dtype: float64
 mse    2.306063
mae    0.755059
dtype: float64
3
 mse    0.413591
mae    0.433542
dtype: float64
 mse    0.415020
mae    0.430521
dtype: float64
4*
 mse    0.527793
mae    0.518114
dtype: float64
 mse    0.455527
mae    0.472358
dtype: float64
5
 mse    0.481036
mae    0.493602
dtype: float64
 mse    0.516152
mae    0.510466
dtype: float64
6
 mse    0.425610
mae    0.454449
dtype: float64
 mse    0.433400
mae    0.454603
dtype: float64
7*
 mse    0.593004
mae    0.550093
dtype: float64
 mse    0.618279
mae    0.525569
dtype: float64