In [2]:
import pandas as pd

In [3]:
df = {}
import os 
for i in range(6): 
    tmp = pd.read_csv(os.path.join('./mainresult/', str("PatchTST"), str("ETTh2") + str(i) + "df.csv"))
    df[i] = tmp

In [1]:
df[0]
# get mean mse and mae for re=0 in df[0]

NameError: name 'df' is not defined

In [48]:
df[1]

   Unnamed: 0    len   re       mse       mae
0           0   96.0  0.0  0.295608  0.368593
1           1   96.0  1.0  0.292434  0.362255
2           2  192.0  0.0  0.352383  0.399795
3           3  192.0  1.0  0.353708  0.398423
4           4  336.0  0.0  0.376377  0.420689
5           5  336.0  1.0  0.378555  0.418062
6           6  720.0  0.0  0.406197  0.450837
7           7  720.0  1.0  0.403910  0.441042

In [12]:
df[2]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.359301  0.294441
1           1   96.0  1.0  0.345990  0.285478
2           2  192.0  0.0  0.401301  0.361890
3           3  192.0  1.0  0.385209  0.349341
4           4  336.0  0.0  0.426658  0.387816
5           5  336.0  1.0  0.413729  0.378625
6           6  720.0  0.0  0.456459  0.419078
7           7  720.0  1.0  0.442175  0.408070

In [13]:
df[3]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.338554  0.278357
1           1   96.0  1.0  0.337377  0.279976
2           2  192.0  0.0  0.375750  0.342305
3           3  192.0  1.0  0.379604  0.346737
4           4  336.0  0.0  0.398332  0.362444
5           5  336.0  1.0  0.402321  0.371596
6           6  720.0  0.0  0.425370  0.387674
7           7  720.0  1.0  0.430516  0.400416

In [14]:
df[4]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.391595  0.320450
1           1   96.0  1.0  0.392424  0.325090
2           2  192.0  0.0  0.415317  0.371833
3           3  192.0  1.0  0.420095  0.380799
4           4  336.0  0.0  0.466888  0.420738
5           5  336.0  1.0  0.465851  0.425583
6           6  720.0  0.0  0.506452  0.469990
7           7  720.0  1.0  0.517813  0.491922

In [15]:
df[5]

   Unnamed: 0    len   re       mae       mse
0           0   96.0  0.0  0.384850  0.332513
1           1   96.0  1.0  0.381779  0.329436
2           2  192.0  0.0  0.414425  0.384225
3           3  192.0  1.0  0.413021  0.386448
4           4  336.0  0.0  0.428503  0.398600
5           5  336.0  1.0  0.442491  0.420673
6           6  720.0  0.0  0.458090  0.425683
7           7  720.0  1.0  0.472070  0.450833

In [49]:
for i in range(6): 
    print("0\n", df[i][df[i]["re"]==0].mean()[-2:],"\n", df[i][df[i]["re"]==1].mean()[-2:])

0
 mse    0.339579
mae    0.383964
dtype: float64
 mse    0.345768
mae    0.386790
dtype: float64
0
 mse    0.357641
mae    0.409978
dtype: float64
 mse    0.357152
mae    0.404946
dtype: float64
0
 mse    0.364187
mae    0.409699
dtype: float64
 mse    0.350917
mae    0.393507
dtype: float64
0
 mse    0.340037
mae    0.382332
dtype: float64
 mse    0.347949
mae    0.388672
dtype: float64
0
 mse    0.382901
mae    0.433876
dtype: float64
 mse    0.417613
mae    0.466128
dtype: float64
0
 mse    0.379611
mae    0.416957
dtype: float64
 mse    0.401816
mae    0.434217
dtype: float64